# Global
./docs
.env


#frontend
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end/node_modules

# next.js
front-end/.next/
front-end/out/

# production
front-end/build

# debug
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/.pnpm-debug.log*

# env files
front-end/.env*

# vercel
front-end/.vercel

# typescript
front-end/*.tsbuildinfo
front-end/next-env.d.ts


#backend
back-end/node_modules
back-end/.next/
back-end/out/
back-end/build
back-end/npm-debug.log*
back-end/yarn-debug.log*
back-end/yarn-error.log*
back-end/.pnpm-debug.log*
back-end/.env*
back-end/.vercel
back-end/*.tsbuildinfo
back-end/next-env.d.ts
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea/jarRepositories.xml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 보안(AWS S3, EC2, DOCKERFILE및 DockerCompose 최소보안) 관련 ###
/.env
# back-end/src/main/resources/application-secret.yml